%input-base {
	border-radius: var(--wp--custom--border-radius--large);
	color: var(--wp--preset--color--bur-fg);
	background-color: var(--wp--preset--color--bur-bg);
	border: none;
	transition: 0.15s;

	&:disabled {
		pointer-events: none !important;
		color: #8888;
	}

	// Hover / focus effects.

	&:focus {
		outline: solid 0.2em #6262ff;
	}

	&[rows], /* textarea */
	&[type=text],
	&[type=url],
	&[type=tel],
	&[type=email],
	&[type=date],
	&[type=month],
	&[type=week],
	&[type=time],
	&[type=datetime-local],
	&[type=number],
	&[type=password] {
		&:not(:invalid, :focus) {
			outline: solid 0.2em #2dd436;
		}
	}

	&:not(form[disabled] *, [disabled], :disabled, :focus):hover {
		outline: solid 0.2em #ffff00;
		cursor: text;
	}
}


@mixin button-base {
	max-width: 100%;
	overflow: visible;
	border: 0;
	box-shadow: none;
	font-family: inherit;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: var(--wp--custom--border-radius--large);
	font-size: inherit;
	transition: all var(--wp--custom--transition--hover-time) ease-in-out;
	cursor: pointer;

	&:hover {
		border-radius: var(--wp--custom--border-radius--small);
		box-shadow: var(--wp--preset--shadow--theme-soft);
	}

	&:disabled {
		pointer-events: none !important;
		color: #8888;
	}
}

%button {
	@include button-base;
	color: var(--wp--preset--color--bur-fg-alt);
	background: var(--wp--preset--color--bur-accent);
	padding-top: calc( var(--wp--preset--spacing--20) + var(--wp--custom--border-size) );
	padding-right: calc( var(--wp--preset--spacing--40) + var(--wp--custom--border-size) );
	padding-bottom: calc( var(--wp--preset--spacing--20) + var(--wp--custom--border-size) );
	padding-left: calc( var(--wp--preset--spacing--40) + var(--wp--custom--border-size) );
}

%button-outline {
	@include button-base;
	border: solid var(--wp--custom--border-size);
	color: currentColor;
	background: #0000;
	padding-top: var(--wp--preset--spacing--20);
	padding-right: var(--wp--preset--spacing--40);
	padding-bottom: var(--wp--preset--spacing--20);
	padding-left: var(--wp--preset--spacing--40);
}
