// Typing inputs.
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
input[type=week],
textarea {
	@extend %input-base;

	&:hover {
		cursor: text;

		&:disabled,
		&.disabled {
			cursor: not-allowed;
		}
	}
}

// Selectable inputs.
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=month],
input[type=time],
input[type=week],
select {
	@extend %input-base;

	&:hover {
		cursor: pointer;

		&:disabled,
		&.disabled {
			cursor: not-allowed;
		}
	}
}

optgroup {
	&:hover {
		cursor: pointer;

		&:disabled,
		&.disabled {
			cursor: not-allowed;
		}
	}
}

input:not([type='search']),
input:disabled,
textarea,
textarea:disabled,
select {
	width: 100%;
	padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40);
	font-size: inherit;
}

input {
	font-family: inherit;
}

textarea {
	resize: vertical;
	font-family: inherit;
}

input[type='submit'],
button,
.wp-element-button,
.wp-block-button__link {

	@extend %button;

	&:is( .is-style-outline>* ) {
		@extend %button-outline;
	}
}
