input,
textarea,
select {

	@extend %input-base;
}

input:not([type='search']),
input:disabled,
textarea,
textarea:disabled,
select {
	width: 100%;
	padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40);
	font-size: inherit;
}

input {
	font-family: inherit;
}

textarea {
	resize: vertical;
	font-family: inherit;
}

input[type='submit'],
button,
.wp-element-button,
.wp-block-button__link {

	@extend %button;

	&:is( .is-style-outline>* ) {
		@extend %button-outline;
	}
}
